<%- include("partials/header"); -%>
    <div class="container">
        <div class="item-img">
    <h1>Jany Tripod Floor Lamp  </h1>
    <img src="css\TripodFloorLamp.jpg" alt="House accessories" width="400" height="200">
        </div>
    <p><b>Specification</b></p>
    
    <table>
        <tr>
          <td>Material</td>
          <td>Wood and fabric </td>
        </tr>
        <tr>
          <td>Size</td>
          <td>Dia. 51cm x H141cm  </td>
        </tr>
        <tr>
            <td>Care instructions</td>
            <td>Wipe with a soft cloth </td>
          </tr>
          <tr>
            <td>Assembly</td>
            <td>Self-assembly required</td>
          </tr>
          <tr>
            <td>Cable length</td>
            <td>170cm</td>
          </tr>
          <tr>
            <td>Wattage</td>
            <td>60 Watts</td>
          </tr>
      </table>
    <a href="/" class="modal-close waves-effect waves-green btn-flat">Home page</a>
    </div>
</body>
</html>