<%- include("partials/header"); -%>
     <div class="container">
         <div class="item-img">
    <h1>Lena Two-seater Sofa – White </h1>
    <img src="css\sofa.jpg" alt="House accessories" width="400" height="200">
         </div>
     <div class=item-content>
    <p><b>No assembly required </b></p>
    <p>Made with foam and fibre-filled seats </p>
    <table>
        <tr>
          <td>Size</td>
          <td>H90cm x W157cm x D90cm </td>
        </tr>
        <tr>
          <td>Weight</td>
          <td>48kg</td>
        </tr>
        <tr>
            <td>Foot Colour</td>
            <td>Black wood effect </td>
          </tr>
          <tr>
            <td>Number of seats</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Colour</td>
            <td>White</td>
          </tr>
          <tr>
            <td>Guarantee</td>
            <td>5 years</td>
          </tr>
      </table>
      <a href="/" class="modal-close waves-effect waves-green btn-flat">Home page</a>
     </div>
    </div>
</body>
</html>